[identity:work]
  name = Connor Atherton
  email = connor@bitnami.com

[identity:personal]
  name = Connor Atherton
  email = c.liam.atherton@gmail.com

[personal]
  /Users/Connor/repos/ideas/*

[work]
  /Users/Connor/repos/bitnami/*

