[identity:work]
  name = Connor Atherton
  email = connor@work.com

[identity:personal]
  name = Connor Atherton
  email = connor@personal.com

[personal]
  /Users/Connor/repos/ideas/*
  /Users/Connor/repos/personal/*

[work]
  /Users/Connor/repos/work/*

